.git
.github
.next
.vercel
.npm-cache
node_modules

.env
.env.*
*.env

Dockerfile
.dockerignore

docs
database/*
!database/migrations/
database/migrations/*
!database/migrations/*.sql
tests
tmp

coverage
outputs
android/**/.gradle
android/**/build
android/**/local.properties
*.log
*.tsbuildinfo
**/.DS_Store
